<footer>
  <a
    style="background-image: url('images/footer-bg.png')"
    class="block h-72 bg-cover bg-center relative"
    href="https://tw.nexon.com/help/zh"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="absolute top-24 left-8 sm:left-1/4">
      <img class="w-40 sm:w-64 h-auto" src="images/nexon.png" />
      <span
        class="block font-medium text-2xl sm:text-3xl transform translate-x-24 sm:translate-x-40 -translate-y-4 sm:-translate-y-8"
        >客服中心</span
      >
    </div>
  </a>
  <div
    class="w-full px-8 py-2 flex justify-center items-center bg-main-cadet-blue font-thin text-center text-main-light-blue-grey"
  >
    Copyright © 2003 NEXON Korea Corporation, Licensed to Gamania Digital
    Entertainment Co., Ltd., in Taiwan.
  </div>
</footer>
