<div
  id="go-top"
  class="w-20 h-20 rounded-full fixed top-2/3 right-3 z-10 bg-top bg-cover bg-center opacity-60 hover:opacity-100 hover:bg-top-hover cursor-pointer transition-all"
>
  <div class="w-full h-full relative">
    <span
      style="--stroke-color: #fff"
      class="inline-block p-1 absolute left-1/2 -bottom-6 transform -translate-x-1/2 -translate-y-1/2 text-lg tracking-wider font-medium text-main-cadet-blue text-stroke"
      >TOP</span
    >
  </div>
</div>
